@{
    Layout = null;
}

<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/xm-select.js"></script>

<div class="layui-form">
    <br />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label-col"><span style="color:red;">*要求：长度8位到20位，字母+数字+特殊符号；特殊符号包含（. _ ~ ! @@ # $ ^ & *）</span></label>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span style="color:red;">*</span>新密码</label>
            <div class="layui-input-inline">
                <input type="password" class="layui-input" id="password" onblur="CheckPassword()" name="password" min="8" maxlength="20" lay-verify="required" placeholder="请输入新密码">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span style="color:red;">*</span>确认密码</label>
            <div class="layui-input-inline">
                <input type="password" class="layui-input" id="checkpassword" onblur="CheckPassword()" name="checkpassword" min="8" maxlength="20" lay-verify="required" placeholder="请输入确认密码">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span style="color:red;">*</span>验证码</label>
            <div class="layui-input-inline">
                <div class="code">
                    <input type="text" id="canvas_code" value="" placeholder="（不区分大小写）" lay-verify="required" class="input-val layui-input">
                </div>
            </div>
            <div class="layui-input-inline">
                <div class="code">
                    <canvas id="canvas" width="100" height="43"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="save">确认修改</button>
        </div>
    </div>
</div>
<script>
        function Check(password) {
            var one = "^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[._~!@@#$^&*])[A-Za-z0-9._~!@@#$^&*]{8,20}$";
            if (password.match(one)) {
                return true;
            } else {
                return false;
            }
        }
        function CheckPassword() {
            var password = $("#password").val();
            var ckpassword = $("#checkpassword").val();
            var flag = Check(password);
            if (!flag) {
                layer.msg("密码不符合要求，请修改。要求：长度8位到20位，字母+数字+特殊符号；特殊符号包含（. _ ~ ! @@ # $ ^ & *）", { icon: 5 });
                $("#password").focus();
                return;
            }
            flag = Check(ckpassword);
            if (!flag) {
                layer.msg("密码不符合要求，请修改。要求：长度8位到20位，字母+数字+特殊符号；特殊符号包含（. _ ~ ! @@ # $ ^ & *）", { icon: 5 });
                $("#checkpassword").focus();
                return;
            }
        }
        var show_num = [];
        layui.use('form', function () {
            var form = layui.form, layer = layui.layer;

            form.on('submit(save)', function (data) {
                var password = $("#password").val();
                var ckpassword = $("#checkpassword").val();
                var flag = Check(password);
                if (!flag) {
                    layer.msg("密码不符合要求，请修改。要求：长度8位到20位，字母+数字+特殊符号；特殊符号包含（. _ ~ ! @@ # $ ^ & *）", { icon: 5 });
                    $("#password").focus();
                    return;
                }
                flag = Check(password);
                if (!flag) {
                    layer.msg("密码不符合要求，请修改。要求：长度8位到20位，字母+数字+特殊符号；特殊符号包含（. _ ~ ! @@ # $ ^ & *）", { icon: 5 });
                    $("#checkpassword").focus();
                    return;
                }
                if (password != ckpassword) {
                    layer.msg("两次密码不一致，请检查", { icon: 5 });
                    draw(show_num);
                    return;
                }
                var val = $("#canvas_code").val().toLowerCase();
                var num = show_num.join("");
                if (val == '') {
                    layer.msg("请输入验证码", { icon: 5 });
                } else if (val == num) {
                    layer.confirm('确认修改吗？', { btn: ['是', '否'], icon: 3, title: '提示' }, function (index) {
                        $.ajax({
                            type: 'post',
                            dataType: 'json',
                            url: '@Url.Action("ModifyPassword", "AppUser")',
                            data: { Password: password,UserId:'@ViewBag.UserId' },
                            success: function (res) {
                                if (res.code == "200") {
                                    window.top.location.href = '/Login/Index';
                                    window.top.layer.msg("修改成功，请重新登录", { icon: 6 });
                                } else {
                                    layer.msg(res.msg, {
                                        icon: 5
                                    });
                                }
                            },
                            error: function (res) {
                                layer.msg("出错了，请联系管理员", {
                                    icon: 5
                                });
                            }
                        });
                        $(".input-val").val('');
                        draw(show_num);
                    });
                } else {
                    layer.msg('验证码错误！请重新输入！', { icon: 5 });
                    $(".input-val").val('');
                    draw(show_num);
                }
            });
        });
        $(function () {
            draw(show_num);
            $("#canvas").on('click', function () {
                draw(show_num);
            })
        });

        function draw(show_num) {
            var canvas_width = $('#canvas').width();
            var canvas_height = $('#canvas').height();
            var canvas = document.getElementById("canvas");//获取到canvas的对象，演员
            var context = canvas.getContext("2d");//获取到canvas画图的环境，演员表演的舞台
            canvas.width = canvas_width;
            canvas.height = canvas_height;
            var sCode = "A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0";
            var aCode = sCode.split(",");
            var aLength = aCode.length;//获取到数组的长度

            for (var i = 0; i <= 3; i++) {
                var j = Math.floor(Math.random() * aLength);//获取到随机的索引值
                var deg = Math.random() * 30 * Math.PI / 180;//产生0~30之间的随机弧度
                var txt = aCode[j];//得到随机的一个内容
                show_num[i] = txt.toLowerCase();
                var x = 10 + i * 20;//文字在canvas上的x坐标
                var y = 20 + Math.random() * 8;//文字在canvas上的y坐标
                context.font = "bold 23px 微软雅黑";

                context.translate(x, y);
                context.rotate(deg);

                context.fillStyle = randomColor();
                context.fillText(txt, 0, 0);

                context.rotate(-deg);
                context.translate(-x, -y);
            }
            for (var i = 0; i <= 5; i++) { //验证码上显示线条
                context.strokeStyle = randomColor();
                context.beginPath();
                context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
                context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
                context.stroke();
            }
            for (var i = 0; i <= 30; i++) { //验证码上显示小点
                context.strokeStyle = randomColor();
                context.beginPath();
                var x = Math.random() * canvas_width;
                var y = Math.random() * canvas_height;
                context.moveTo(x, y);
                context.lineTo(x + 1, y + 1);
                context.stroke();
            }
        }

        function randomColor() {//得到随机的颜色值
            var r = Math.floor(Math.random() * 256);
            var g = Math.floor(Math.random() * 256);
            var b = Math.floor(Math.random() * 256);
            return "rgb(" + r + "," + g + "," + b + ")";
        }
</script>