
@{
    Layout = null;
}
<script src="~/layui/layui.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/js/jquery-3.2.1.min.js"></script>
<link href="~/layui/ext/iconfont.css" rel="stylesheet" />
@*<style>
    li:hover{
        border:solid;
        border-color:lightblue;
    }
</style>*@
<div>
    <ul class="flow-default" id="news_flow" style="width:100%;height:100%;">
    </ul>
</div>
<script>
    var layer,flow;
    layui.use(['layer', 'flow'], function () {
        layer = layui.layer, flow = layui.flow;

        flow.load({
            elem: '#news_flow' //流加载容器
            , scrollElem: '#news_flow' //滚动条所在元素，一般不用填，此处只是演示需要。
            , done: function (page, next) { //执行下一页的回调
                $.ajax({
                    type: 'get',
                    dataType: 'json',
                    traditional: true,
                    url: '@Url.Action("GetNewsFlow","News")' + '?page=' + page,
                    success: function (res) {
                        if (res.code == 0) {
                            setTimeout(function () {
                                var lis = [];
                                $.each(res.data, function (index, item) {
                                    lis.push('<li onclick="openNews(\'' + item.NewsId + '\',\'' + item.NewsTitle + '\')" style="margin-top:5px;border:solid;border-color:lightgray;margin-left:20px;margin-right:20px;background-color:white;">'
                                        + '        <div class="layui-card-body">'
                                        + '<div class= "layui-row" >'
                                        + '<div class="layui-col-md3">'
                                        + '<img style="width:100%;height:150px;" src="' + item.NewsCoverImageUrl + '" />'
                                        + '</div>'
                                        + '<div class="layui-col-md9">'
                                        + '    <div class="layui-row">'
                                        + '        <div class="layui-col-xs12">'
                                        + '            <label class="layui-form-label-col" style="margin-left:10px;"><b style="font-size:20px;">' + item.NewsTitle + '</b></label>'
                                        + '        </div>'
                                        + '        <div class="layui-col-xs12">'
                                        + '            <label class="layui-form-label-col" style="margin-left:10px;width:100%;height:70px;overflow:hidden;text-overflow:ellipsis;">' + item.NewsContent + '</label>'
                                        + '        </div>'
                                        + '        <div class="layui-col-xs12">'
                                        + '            <div class="layui-row" style="color:lightgray;">'
                                        + '                <div class="layui-col-md4">'
                                        + '                    <small style="margin-left:10px;">新闻类型：' + item.NewsTypeName + '</small>'
                                        + '                </div>'
                                        + '                <div class="layui-col-md4">'
                                        + '                    <small style="margin-left:10px;">发布时间：' + item.NewsReleaseTime + '</small>'
                                        + '                </div>'
                                        + '                <div class="layui-col-md4" style="vertical-align:middle;">'
                                        + '                    <i class="layui-icon iconfont icon-yanjing"></i>'
                                        + '                    <small>' + item.BrowseNumber + '</small>'
                                        + '                    <small>次</small>'
                                        + '                </div>'
                                        + '            </div>'
                                        + '        </div>'
                                        + '    </div>'
                                        + '</div>'
                                        + '</div >'
                                        + '</div >'
                                        + '</div >'
                                        + '</li>');
                                });
                                next(lis.join(''), page < res.count);
                            }, 500);
                        } else {
                            layer.msg(res.msg, { icon: 5 });
                        }
                    }, error: function () {
                        layer.msg("接口出错，请联系管理员", { icon: 5 });
                    }
                });
            }
        });
    });
    function openNews(news_id,news_title) {
        @*layer.open({
            type: 2,
            area: ["100%", "100%"],
            title: news_title,
            content: '@Url.Action("NewsView","News")' + "?status=View&Rowid=" + news_id
        });*@
        window.open('@Url.Action("NewsView","News")'+ "?status=ViewAdd&Rowid=" + news_id);
    }
</script>